---
interface Props {
    id?: number | string;
    title?: string;
    titleClass?: string;
    closeClass?: string;
    ariaLabel?: string;
    closeAriaLabel?: string;
    class?: string;
    [x: string]: any;
}

const {
	id,
	title,
	titleClass,
	closeClass,
    ariaLabel = title ? title : '',
    closeAriaLabel = 'Закрыть',
    class: className,
    ...rest
} = Astro.props;

---
<div class:list={[
		'modal',
		className
	]}
	id={id}
	aria-hidden="true"
	data-modal
	tabindex="-1"
	{...rest}
>
	<div class="modal__wrap">
		<div class="modal__window" role="dialog" aria-modal="true" aria-label={ariaLabel} data-modal-window>
			<div class="modal__content">
				{title ? <div class:list={['modal__title', titleClass]} set:html={title}></div> : ''}
				<slot/>
			</div>
			<button type="button" class:list={['modal__close', closeClass]} title={closeAriaLabel} aria-label={closeAriaLabel} data-modal-close>
				<svg class="modal__close-icon" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
					<path d="M11.25 1.8075L10.1925 0.75L6 4.9425L1.8075 0.75L0.75 1.8075L4.9425 6L0.75 10.1925L1.8075 11.25L6 7.0575L10.1925 11.25L11.25 10.1925L7.0575 6L11.25 1.8075Z"/>
				</svg>
			</button>
		</div>
	</div>
</div>
